@model IEnumerable<DellaViaAutomation.Entities.Concreate.User>

@{
    ViewBag.Title = "Index";
    List<string> images = ViewBag.usersimages;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table singlelinetable">
    <tr>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Telephone
        </th>
        <th>
            Password
        </th>
        <th>
            Is Admin
        </th>
        <th>
            Image File
        </th>
        <th>
            Create Date
        </th>
        <th>
            Create User id
        </th>
        <th>
            Update Date
        </th>
        <th>
            Update User id
        </th>
        <th>
            Is Active
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telephone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAdmin)
        </td>
        <td>
            @{
                var image = images.FirstOrDefault(x => Path.GetFileNameWithoutExtension(x).Equals(item.ImageId));
                if (!string.IsNullOrWhiteSpace(image))
                {
                    <img src="@image" alt="@item.OriginalFilename" class="img-fluid" style="max-height:100px" />
                }
                else
                {
                    <p>No Photo</p>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateUserid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateUserid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
